# Google OAuth Configuration
# Bu değerleri Google Cloud Console'dan alın: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Database
DATABASE_URL="file:./prisma/dev.db"

